<!-- IF ! IS_GHOST -->
<!-- INCLUDE doc.body.htm -->
<!-- ENDIF -->

<div class="container">

<!-- IF X1 == 'home' -->
<!-- IF ! IS_TOPICS -->
<div id="f_list"></div>

<div class="row">
	<!-- BEGIN forums -->
	<div class="span8">
		<h2>Foro de discusion</h2>
		
		<table class="table table-striped">
			<tbody>
				<!-- BEGIN row -->
				<tr>
					<td><strong><a href="{row.U_FORUM}">{row.FORUM_NAME}</a></strong></td>
					<td>{row.FORUM_DESC}</td>
				</tr>
				<!-- END row -->
			</tbody>
		</table>
	</div>
	<!-- END forums -->
	<!-- BEGIN popular -->
	<div class="span4">
		<h2>Temas populares</h2>
		
		<table class="table">
			<tbody>
				<!-- BEGIN row -->
				<tr>
					<td><a href="{row.TOPIC_URL}">{row.TOPIC_TITLE}</a></td>
					<td>{row.FORUM_DESC}</td>
				</tr>
				<!-- END row -->
			</tbody>
		</table>
	</div>
	<!-- END popular -->
</div>
<!-- ELSE -->

<div id="forum_controls" class="float-holder ie-widthfix">
	<h1><a href="{U_BOARD}">&laquo;</a> {FORUM_TITLE}</h1>
</div>

<!-- BEGIN create -->
<br />
<div>
	<input class="btn btn-success" type="button" id="b_topic_create" name="topic_create" value="{L_BOARD_CREATE_TOPIC}" />
	<!-- BEGIN poll -->
	<input class="btn btn-warning" type="button" id="b_poll_create" name="poll_create" value="{L_CBOARD_CREATE_POLL}" />
	<!-- END poll -->
</div>
<br />
<!-- END create -->

<div class="row">
	<div class="span8">
		<!-- BEGIN topics -->
		<!-- IF topics.NUMS != '' -->
		<div class="pagination">{topics.NUMS}</div>
		<!-- ENDIF -->
		
		<table class="table table-striped">
			<tbody>
				<!-- BEGIN row -->
				<tr>
					<td><strong><a href="{row.TOPIC_URL}">{row.TOPIC_TITLE}</a></strong></td>
					<td>{row.FORUM_DESC}</td>
				</tr>
				<!-- END row -->
			</tbody>
		</table>
		<!-- END topics -->
	</div>
	<div class="span4">
		<h2>Temas populares</h2>
		<!-- BEGIN popular -->
		<table class="table">
			<tbody>
				<!-- BEGIN row -->
				<tr>
					<td><a href="{row.TOPIC_URL}">{row.TOPIC_TITLE}</a></td>
					<td>{row.FORUM_DESC}</td>
				</tr>
				<!-- END row -->
			</tbody>
		</table>
		<!-- END popular -->
	</div>
</div>

<!-- ENDIF -->
<!-- ENDIF -->

</div>

<!-- IF ! IS_GHOST -->
<!-- INCLUDE doc.foot.htm -->
<!-- ENDIF -->