<!-- INCLUDE doc.head.htm -->

<div class="container">
	
<div class="row">
	<div class="span2 hide-text"><a href="/" class="io-small">Ideas y Oportunidades</a></div>
	
	<div class="span4">
		<!-- BEGIN nav -->
		<ul class="nav-menu">
			<!-- IF USER_ID != 1 -->
			<li><a class="btn btn-danger btn-large" href="#">{USER_NAME}</a></li>
			<li><a class="btn btn-large" href="{U_SIGNOUT}">Salir</a></li>
			<!-- ENDIF -->
			<!-- BEGIN menu2 -->
			<li<!-- BEGIN active --> class="active"<!-- END active -->><a class="btn btn-warning btn-large" href="{menu.HREF}">{menu.NAME}</a></li>
			<!-- END menu2 -->
		</ul>
		
		<!-- IF USER_ID == 1 -->
		<form action="{U_SIGNIN}" class="form-inline login-top" method="post">
		  <input type="text" name="address" class="input-small" placeholder="Email">
		  <input type="password" name="key" class="input-small" placeholder="Password">
		  <button type="submit" name="submit" class="btn">Continuar</button>
		</form>
		<!-- ENDIF -->
		
		<span class="clear"></span>
		
		<!-- IF USER_ID == 1 -->
		<div class="nav-menu-guest">
		<!-- ENDIF -->
			<ul class="nav-menu">
				<!-- aBEGIN menu -->
				<li class="nav-menu-left"><a class="btn btn-warning btn-large radial" href="#"><i class="icon-gift"></i></a></li>
				<li class=""><a class="btn btn-warning btn-large radial" href="{U_HOME}"><i class="icon-home"></i></a></li>
				<li class=""><a class="btn btn-warning btn-large radial" href=""><i class="icon-arrow-left"></i></a></li>
				<li class=""><a class="btn btn-warning btn-large radial" href="#"><i class="icon-search"></i></a></li>
				<!-- aEND menu -->
			</ul>
		<!-- IF USER_ID == 1 -->
		</div>
		<!-- ENDIF -->
		<!-- END nav -->
	</div>
	
	<div class="span6 a_right">
		<!-- IF USER_ID == 1 -->
		<div class="signin_top">
		<p><a class="btn btn-warning btn-large" href="{U_SIGNUP}">Reg&iacute;strate en la Comunidad &raquo;</a></p>
		</div>
		<!-- ENDIF -->
	</div>
</div>

<br />