<!-- INCLUDE doc.body.htm -->

<div class="row">
	<div class="span6 round">
		<div class="hero-unit2 flashObject">
			<iframe width="560" height="315" src="http://www.youtube.com/embed/EkronbywHcg?wmode=opaque" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	
	<div class="span6">
		<div class="hero-unit">
			<h1 class="orange">&iexcl;&iexcl;S&Uacute;MATE!!</h1>
			<p>&nbsp;</p>
			<p class="orange">Somos la comunidad de emprendedores e innovadores, donde podras descubrir QUE, COMO y POR QU&Eacute;, ser un emprendedor!</p>
		</div>
	</div>
</div>

<ul class="thumbnails">
	<li class="span2">
		<a class="btn" href="{U_INFORMATE}">
		<p><img class="colorScale" src="/media/informate.png" alt="" /></p>
		<h3>InformaTE</h3>
		</a>
	</li>
	
	<li class="span2">
		<a class="btn" href="#soon" rel="facebox">
		<p><img class="greyScale" src="/media/integrate.png" alt="" /></p>
		<h3>IntegraTE</h3>
		</a>
	</li>
	
	<li class="span2">
		<a class="btn" href="#soon" rel="facebox">
		<p><img class="greyScale" src="/media/asesorate.png" alt="" /></p>
		<h3>AsesoraTE</h3>
		</a>
	</li>	
	
	<li class="span2">
		<a class="btn" href="#soon" rel="facebox">
		<p><img class="greyScale" src="/media/educate.png" alt="" /></p>
		<h3>EducaTE</h3>
		</a>
	</li>
	
	<li class="span2">
		<a class="btn" href="#soon" rel="facebox">
		<p><img class="greyScale" src="/media/empleate.png" alt="" /></p>
		<h3>EmpleaTE</h3>
		</a>
	</li>
	
	<li class="span2">
		<a class="btn" href="#soon" rel="facebox">
		<p><img class="greyScale" src="/media/oportunidades.png" alt="" /></p>
		<h3>Oportunidades</h3>
		</a>
	</li>
</ul>

<hr>

<footer>
	<p>&copy; Ideas y Oportunidades 2012</p>
</footer>

<div id="soon" class="soon" style="display:none;">
	<div class="centered"><button class="btn btn-danger btn-large"><i class="icon-star"></i> &iexcl;Pr&oacute;ximamente!</button><br /><br /><h3>Encuentra m&aacute;s informaci&oacute;n en esta secci&oacute;n.</h3></div>
</div>

<script type="text/javascript">

$(function() {
	$('.greyScale').css({ opacity: 0.4 });
	$('a[rel*=facebox]').facebox();
	$('.flashObject').fitVids();
});
</script>

<!-- INCLUDE doc.foot.htm -->
