<!-- INCLUDE doc.body.htm -->

<h1>{L_NEWS}</h1>

<!-- IF X1 == 'read' -->
<h2>{V_SUBJECT}</h2>
<!-- ENDIF -->

<!-- IF X1 == 'home' -->
<div class="row">
	<div class="span9">
		<br />
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
					<div class="carousel-caption">
						<h4>Que tanta diferencia marca la innovacion?</h4>
						<p>En el último ranking mundial realizado por la revista Forbes, se publicó una lista de las que se consideraban las 100 empresas más innovadoras en todos los campos.</p>
					</div>
				</div>
				<div class="item">
					<img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
					<div class="carousel-caption">
						<h4>Un producto sin marca no se vende</h4>
						<p>Seguramente si les preguntara si ya han creado y desarrollado su marca personal me contestarían que no. Sin embargo, debido a la gran interacción que tenemos actualmente con las redes sociales, automáticamente la estamos creando y diariamente la estamos desarrollando sin ser consientes.</p>
					</div>
				</div>
				<div class="item">
					<img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
					<div class="carousel-caption">
						<h4>Que el futuro no te alcance</h4>
						<p>En un panorama como el actual, donde los precios del petróleo y la creciente demanda empujan a buscar cada vez mayores reservas e innovaciones en la forma de explotar, se ha vuelto aún más importante pensar en el largo plazo.</p>
					</div>
				</div>
			</div>
			
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
		
		<script type="text/javascript">
		$('#myCarousel').carousel();
		</script>
          
		<!-- BEGIN news -->
		<!-- IF news.NUMS != '' -->
		<div class="pagination">{news.NUMS}</div>
		<!-- ENDIF -->
		
		<table class="table table-striped">
			<tbody>
				<!-- BEGIN row -->
				<tr>
					<td>
						<a name="{row.POST_ID}"></a>
						
						<h2><a class="relevant" href="{row.URL}">{row.SUBJECT}</a></h2>
						{L_POSTED_BY} <a href="{row.PROFILE}">{row.BIO_NAME}</a>, el <i>{row.TIME}</i>
						
						<!-- BEGIN controls -->
						<div class="">
							<ul>
								<!-- BEGIN reply --><li><a href="{reply.URL}">{L_CMT_REPLY}</a><!-- END reply -->
								<!-- BEGIN report --><li><a href="{report.URL}">{L_CMT_REPORT}</a><!-- END report -->
								<!-- BEGIN edit --><li><a href="{edit.URL}">{L_CMT_EDIT}</a><!-- END edit -->
								<!-- BEGIN restore --><li><a href="{restore.URL}"><span class="red">{L_CMT_RESTORE}</span></a><!-- END restore -->
								<!-- BEGIN delete --><li><a onclick="return confirm('&iquest;Confirmas borrar el mensaje?');" href="{delete.URL}">{L_CMT_DELETE}</a><!-- END delete -->
							</ul>
						</div>
						<!-- END controls -->
						
						<br /><br />
						{row.CONTENT}
					</td>
				</tr>
				<!-- END row -->
			</tbody>
		</table>
		
		<!-- IF news.NUMS != '' -->
		<div class="pagination">{news.NUMS}</div>
		<!-- ENDIF -->
		<!-- END news -->
	</div>
	<div class="span3">
		<!-- BEGIN rel_type -->
		<h2>Categor&iacute;as</h2>
		
		<table class="table">
			<tbody>
				<tr>
					<td><a href="{rel_type.NEWS_URL}">{L_VIEW_ALL}</a></td>
				</tr>
				<!-- BEGIN row -->
				<tr>
					<td><a href="{row.TYPE_ALIAS}">{row.TYPE_NAME}</a></td>
				</tr>
				<!-- END row -->
			</tbody>
		</table>
		<!-- END rel_type -->
	</div>
</div>
<!-- ELSEIF X1 == 'read' -->
<div class="comments">

<h3><strong>0</strong><span>.</span> <em><a href="{V_PROFILE}"><img src="{V_USER_AVATAR}" alt="" /></a></em><cite><a href="{V_PROFILE}">{V_USERNAME}</a></cite> <span>{L_REPORT}:</span></h3>
<blockquote>
<div class="nowraptext">{V_MESSAGE}</div>
<p class="dtposted">{V_TIME}</p>
</blockquote>
<hr />

<!-- BEGIN posts -->
<!-- IF posts.NUMS != '' --><div class="pagination">{posts.NUMS}</div><!-- ENDIF -->

<div class="rows5_top">
<!-- BEGIN row -->
<div id="comment-{row.S_ROW_COUNT}">
<h3><strong>{row.S_ROW_COUNT}</strong><span>.</span> <em><!-- IF row.V_MEMBER --><a href="{row.V_PROFILE}"><!-- ENDIF --><img src="{row.V_USER_AVATAR}" alt="" /><!-- IF row.V_MEMBER --></a><!-- ENDIF --></em><cite><!-- IF row.V_MEMBER --><a href="{row.V_PROFILE}"><!-- ENDIF -->{row.V_USERNAME}<!-- IF row.V_MEMBER --></a><!-- ENDIF --></cite> <span>{L_SAID}:</span></h3>
<blockquote>
<div class="m">{row.V_MESSAGE}</div>
<p class="dtposted">{row.V_TIME}</p>
</blockquote>
<hr /></div>
<!-- END row -->
</div>

<!-- IF posts.NUMS != '' --><div class="pagination">{posts.NUMS}</div><!-- ENDIF -->
<!-- END posts -->
</div>

<!-- BEGIN postbox -->
<!-- BEGIN in -->
<a name="post"></a>
<div class="hs_news section"><h1>{L_SEND_POST}</h1></div>
<div class="rows5_top_2 post_comment">
<form action="{S_COMMENTS}" method="post" name="post"><input type="hidden" name="ref" value="{in.REF}" />
<div><label for="comment">{L_POST}</label> - <a class="relevant" onclick="return popup('{S_EMOTICONS}', '_emoticons', 300, 450);" href="{S_EMOTICONS}">{L_EMOTICONS}</a></div>
<div class="rows5_top_1"><textarea id="comment" name="message" cols="150" rows="10"></textarea></div>
<div class="rows5_top_1"><input class="submit" type="submit" name="post" value="{L_SUBMIT}" /></div>
</form>
</div>
<!-- END in -->
<!-- END postbox -->
<!-- ENDIF -->
	
<!-- INCLUDE doc.foot.htm -->