<!-- INCLUDE doc.body.htm -->

<!-- BEGIN error -->
<div class="red a-center">{error.MESSAGE}</div>
<!-- END error -->

<div class="row">

<div class="span4">&nbsp;</div>

<div class="span4">
	<form action="{U_SIGNUP}" method="post" id="signup" class="form-horizontal">
		<fieldset>
			<input type="hidden" name="lastpage" value="{REDIRECT_TO}" />
			
			<legend>Reg&iacute;strate en nuestra comunidad</legend>
			
			<div class="control-group">
				<label class="control-label" for="address">{L_EMAIL}</label>
				<div class="controls">
					<input class="input-large" id="address" name="address" type="text" value="">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="password">{L_PASSWORD}</label>
				<div class="controls">
					<input class="input-large" id="password" name="password" type="password" value="">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="firstname">Nombres</label>
				<div class="controls">
					<input class="input-large" id="firstname" name="firstname" type="text" value="">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="lastname">Apellidos</label>
				<div class="controls">
					<input class="input-large" id="lastname" name="lastname" type="text" value="">
				</div>
			</div>
			
			<!-- BEGIN hide -->
			<div class="control-group">
				<label class="control-label" for="alias">Sobrenombre</label>
				<div class="controls">
					<input class="input-large" id="alias" name="alias" type="text" value="">
				</div>
			</div>
			<!-- END hide -->
			
			<div class="control-group">
				<label class="control-label" for="country">Pa&iacute;s</label>
				<div class="controls">
					<select name="country" id="country" class="input-large">
						<option>Guatemala</option>
						<option>El Salvador</option>
						<option>Honduras</option>
						<option>Nicaragua</option>
						<option>Costa Rica</option>
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="birthday_day">Fecha de nacimiento</label>
				<div class="controls">
					<select class="span1" name="birthday_day" id="birthday_day">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
					<select class="span1" name="birthday_month" id="birthday_month">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
					<select class="span1" name="birthday_year" id="birthday_year">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="gender">G&eacute;nero</label>
				<div class="controls">
					<label class="radio">
						<input type="radio" name="gender" id="gender" id="optionsRadios1" value="1" checked>
						Masculino
					</label>
					<label class="radio">
						<input type="radio" name="gender" id="optionsRadios2" value="2">
						Femenino
					</label>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="status">Estado civil</label>
				<div class="controls">
					<select name="status" id="status" class="input-large">
						<option>Soltero</option>
						<option>Casado</option>
						<option>Divorciado</option>
						<option>Viudo</option>
					</select>
				</div>
			</div>
			
			<div class="centered">
				<input class="btn btn-danger" type="submit" name="submit" value="{L_CONFIRM}" />
				<div class="loader"></div>
			</div>
		</fieldset>
	</form>
</div>

<div class="span4">&nbsp;</div>

</div>

<script language="javascript">
$(document).ready(function() {
	// Esta primera parte crea un loader no es necesaria
	$().ajaxStart(function() {
		$('.loader').show();
		$('.loader').hide();
	}).ajaxStop(function() {
		$('.loader').hide();
		$('.loader').fadeIn('slow');
	});
	
	$('#signup').submit(function() {
		$.ajax({
			type: 'POST',
			url: $(this).attr('action'),
			data: $(this).serialize(),
			success: function(data) {
				$('#result').html(data);
			}
		});
		
		return false;
	}); 
})  
</script>

<!-- INCLUDE doc.foot.htm -->