<!-- INCLUDE doc.body.htm -->

<!-- IF X1 == 'en' -->
<div class="alert alert-warning">
	<h1>&iexcl;Felicidades!</h1>
	<p>&nbsp;</p>
	<p>Muchas gracias por unirte a nuestra comunidad, ahora puedes iniciar sesi&oacute;n con tu correo electr&oacute;nico y contrase&ntilde;a.</p>
</div>
<!-- ELSE -->
<!-- BEGIN error -->
<div class="red a-center">{error.MESSAGE}</div>
<!-- END error -->

<div class="row">

<div class="span4">&nbsp;</div>

<div class="span4">
	<form action="{U_SIGNUP}" method="post" id="signup" class="form-horizontal">
		<fieldset>
			<input type="hidden" name="lastpage" value="{REDIRECT_TO}" />
			
			<legend>Reg&iacute;strate en nuestra comunidad</legend>
			
			<div class="control-group">
				<label class="control-label" for="address">{L_EMAIL}</label>
				<div class="controls">
					<input class="input-large" id="address" name="address" type="text" value="">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="password">{L_PASSWORD}</label>
				<div class="controls">
					<input class="input-large" id="password" name="password" type="password" value="">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="firstname">Nombres</label>
				<div class="controls">
					<input class="input-large" id="firstname" name="firstname" type="text" value="">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="lastname">Apellidos</label>
				<div class="controls">
					<input class="input-large" id="lastname" name="lastname" type="text" value="">
				</div>
			</div>
			
			<!-- BEGIN hide -->
			<div class="control-group">
				<label class="control-label" for="alias">Sobrenombre</label>
				<div class="controls">
					<input class="input-large" id="alias" name="alias" type="text" value="">
				</div>
			</div>
			<!-- END hide -->
			
			<div class="control-group">
				<label class="control-label" for="country">Pa&iacute;s</label>
				<div class="controls">
					<select name="country" id="country" class="input-large">
						<option>Guatemala</option>
						<option>El Salvador</option>
						<option>Honduras</option>
						<option>Nicaragua</option>
						<option>Costa Rica</option>
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="birth_day">Fecha de nacimiento</label>
				<div class="controls">
					<!-- BEGIN birth_day -->
					<select class="span1" name="birth_day" id="birth_day">
						<!-- BEGIN row -->
						<option value="{row.DAY}">{row.DAY}</option>
						<!-- END row -->
					</select>
					<!-- END birth_day -->
					<!-- BEGIN birth_month -->
					<select class="span1" name="birth_month" id="birth_month">
						<!-- BEGIN row -->
						<option value="{row.MONTH}">{row.MONTH}</option>
						<!-- END row -->
					</select>
					<!-- END birth_month -->
					<!-- BEGIN birth_year -->
					<select class="span1" name="birth_year" id="birth_year">
						<!-- BEGIN row -->
						<option value="{row.YEAR}">{row.YEAR}</option>
						<!-- END row -->
					</select>
					<!-- END birth_year -->
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="gender">G&eacute;nero</label>
				<div class="controls">
					<label class="radio">
						<input type="radio" name="gender" id="gender" id="optionsRadios1" value="1" checked>
						Masculino
					</label>
					<label class="radio">
						<input type="radio" name="gender" id="optionsRadios2" value="2">
						Femenino
					</label>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="status">Estado civil</label>
				<div class="controls">
					<select name="status" id="status" class="input-large">
						<option>Soltero</option>
						<option>Casado</option>
						<option>Divorciado</option>
						<option>Viudo</option>
					</select>
				</div>
			</div>
			
			<div class="centered">
				<input class="btn btn-danger" type="hidden" name="send" value="1" />
				<input class="btn btn-danger" type="submit" name="submit" value="{L_CONFIRM}" />
				<div class="loader" id="loader"></div>
			</div>
		</fieldset>
	</form>
</div>

<div class="span4">&nbsp;</div>

</div>

<script language="javascript">
$(function() {
	$('#loader').hide();
	
	$('#signup').submit(function() {
		$.ajax({
			type: 'POST',
			url: $(this).attr('action'),
			data: $(this).serialize(),
			success: function(data) {
				if (data == 'OK') {
					return _.go('{U_SIGNEN}');
				}
				jQuery.facebox(data);
				//$('#result').html(data);
			}
		});
		
		return false;
	}).ajaxStart(function() {
		$('#loader').show();
		//$('#loader').hide();
	}).ajaxStop(function() {
		$('#loader').hide();
		//$('#loader').fadeIn('slow');
	});
})  
</script>
<!-- ENDIF -->

<!-- INCLUDE doc.foot.htm -->