
<!-- INCLUDE css/bootstrap.css -->
<!-- INCLUDE css/bootstrap-responsive.css -->
<!-- INCLUDE css/docs.css -->
<!-- INCLUDE css/facebox.css -->

body {
	padding-top: 10px;
	padding-bottom: 40px;
}

.io-small {
	background: url(../DOMAIN/io-small.jpg);
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	/*border: 1px solid #ddd;*/
	/*border-radius: 50px;*/
}

.marker {
	background: #468847;
}

.centered {
	text-align: center;
}

.ttv a {
	height: 145px;
	text-align: center;
}

.ttv a h5 {
	color: #e35702;
}

.nav-menu {
	list-style: none;
	margin: 25px 0;
	padding: 0;
	border: 0;
	display: block;
}

.nav-menu2 {
	list-style: none;
	margin: 40px 0;
	padding: 0;
	border: 0;
	display: block;
}

.login-top {
	margin-top: 30px;
}

.nav-menu li {
	float: left;
	margin-right: 8px;
}

.round {
	/*border: 1px solid #eee;*/
	border-radius: 100px;
}

.nav-menu-left {
/*	margin-left: 300px;*/
}
.nav-menu-guest {
	margin: 15px 0;
}
.greyScale, .colorScale {
	width: 175px;
	height: 125px;
}
.a_right {
	text-align: right;
}
.hero-unit {
	height: 198px;
}
.radial {
	border-radius: 50px;
}
.signin_top {
	margin: 50px 0;
}
.orange {
	color: #fff !important;
}

.clear {
	clear: both;
	display: block;
}
