
<!-- INCLUDE css/bootstrap.css -->
<!-- INCLUDE css/bootstrap-responsive.css -->
<!-- INCLUDE css/docs.css -->

body {
	padding-top: 10px;
	padding-bottom: 40px;
}

.io-small {
	background: url(../DOMAIN/io-small.jpg);
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	/*border: 1px solid #ddd;*/
	/*border-radius: 50px;*/
}

.marker {
	background: #468847;
}

.centered {
	text-align: center;
}

.ttv a {
	height: 145px;
	text-align: center;
}

.ttv a h5 {
	color: #e35702;
}

.nav-menu {
	list-style: none;
	margin: 50px 0;
	padding: 0;
	border: 0;
}

.nav-menu li {
	float: left;
	margin-right: 8px;
}