<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteCond %{HTTP_HOST} !^www\.(io)
	RewriteCond %{HTTP_HOST} ^(www\.)?([a-z0-9]+)\.(io)
	RewriteRule ^([^.]+)?$ handle.php?module=alias&args=alias:%2.$1 [L]
	
	RewriteRule ^$ handle.php?module=home [L]
	RewriteRule ^(ext)/([0-9a-z\_\-]+)\.(js|css)$ handle.php?module=ext&args=x1:$1.path:$2.ext:$3 [L]
	RewriteRule ^(sign)(in|out|up|ed|en)/?$ handle.php?module=$1&args=x1:$2 [L]
	RewriteRule ^(my)/(home|page|friends|messages|account)/?$ handle.php?module=bio&args=x1:$2 [L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-z]+)/?(([0-9a-z\_\.\-\:]+)/?)?$ handle.php?module=$1&args=$3 [L,QSA]
</IfModule>
